@import '../../css/variables';

.document-page
    .content-wrapper
        width width
        display flex
        background #fff
        margin 15px auto
        border-radius 5px
        box-shadow 0 1px 1px rgba(0, 0, 0, .08)
        min-height calc(100% - 90px)
        aside
            width 200px
            border-right 1px solid #eee
            h5
                font-size 16px
                margin 25px 0 15px 20px
                color #999
            ul
                list-style none
                margin 0
                padding 0
            a
                display block
                height 30px
                line-height 30px
                padding-left 25px
                color #333
                &:hover
                    background #f3f3f3
            .active > a
                    color linkColor
                    border-right 2px solid linkColor
            .sub-catalogs
                margin-left 10px
                font-size 12px
        article
            flex 1
            padding 10px 20px
        .article-head
            border-bottom 1px solid #eee
            h1
                padding 10px 0

